{%load static%} 

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <style >  
        </style>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        <div class="navbar">            
            {% block navbar %}
            {% endblock %}
        </div>
        <div class="content-row">
            <div class="column">
                {% block left-side-content %}
                {% endblock %}
            </div>
            <div class="column">
                {% block middle-side-content %}
                {% endblock %}
            </div>
            <div class="column">
                {% block right-side-content %}
                {% endblock %}
            </div>
        </div> 
        
        
        <footer class="footer">
            <div class="container">
              <p class="text-center text-muted">&copy; 2023 ToDoList App</p>
            </div>
        </footer>


    </body>
</html>