{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Create List
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'create_list.css' %}">
{% endblock %}

{% block navbar %}
<div class="navbar-title">ToDo List</div>
<div class="navbar-phrase-create_list">
    Create A New List
</div>
{% endblock %}

{% block left-side-content %}

{% endblock %}

{% block middle-side-content %}
<form method="post" action="/items/">
    {% csrf_token %}
    {{form}}
    <button type="submit", name="save" class = "btn"> Create New </button>
</form>
{% endblock %}


{% block right-side-content %}
{% endblock %}