{% extends 'main/base.html' %}
{% load static %}

<!-- Title Section -->
{% block title %}
Home Page
{% endblock %}

<!-- Head Section -->
{% block head %}
{% endblock %}

<!-- Navbar Section -->
{% block navbar %}
    <div class="navbar-phrase">
        You Will Never Forget About Your Tasks Again
    </div>
    <hr>    
{% endblock %}

<!-- Content Section -->
{% block left-side-content %}

{% endblock %}

{% block middle-side-content %}

<form method="post" action="/lists/">
    {% csrf_token %}
    <button type="submit" class = "btn">
        List Your Chores
    </button>
</form>
<form method="post" action="/lists/create/">
    {% csrf_token %}
    <button type="submit" class = "btn2">
        Create New List
    </button>
</form>

{% endblock %}

{% block right-side-content %}

{% endblock %}

