{% extends 'main/base.html' %}
{% load static %}

<!-- Title Section -->
{% block title %}
List Items Page
{% endblock %}

{% block head %}
<link charset="stylesheet" href="{% static 'main/items.css' %}">
{% endblock %}

{% block navbar %}
<div class="navbar-title">ToDo List</div>
<div class="navbar-phrase-create_list">
    Items For: {{list.name}}
</div>
{% endblock %}

<!-- Content Section-->
{% block left-side-content %}
<form method="get" action="/lists/">
    {% csrf_token %}
    <button type="submit">
        Return 
    </button>
</form>
{% endblock %}

{% block middle-side-content %}    
    <form method="post" action="/list/{{list.name}}/item/create/">
        {% csrf_token %}
        {{form}}
        <button type="submit">
            Create
        </button>
    </form>
    <ul>
        {% for item in list.item_set.all %}
            <li>Name: {{item.text}} Description: {{item.description}} Completed: {{item.complete}}                
                <form method="get" action="/list/{{list.name}}/{{item.text}}/delete/">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}        
    </ul>    

{% endblock %}

{% block right-side-content %}
{% endblock %}