{% extends 'main/base.html' %}
{% load static %}

<!-- Title Section -->
{% block title %}
List Items Page
{% endblock %}

{% block head %}
<link charset="stylesheet" href="{% static 'main/items.css' %}">
{% endblock %}

{% block navbar %}
<div class="navbar-title">ToDo List</div>
<div class="navbar-phrase-create_list">
    Items For: {{list.name}}
</div>
{% endblock %}

<!-- Content Section-->
{% block left-side-content %}
{% endblock %}

{% block middle-side-content %}    

    <ul>
        {% for item in list.item_set.all %}
            <li>Name: {{item.text}} Completed: {{item.complete}}</li>
        {% endfor %}        
    </ul>    

{% endblock %}

{% block right-side-content %}
{% endblock %}