{% extends 'main/base.html' %}
{% load static %}

<!-- Title Section -->
{% block title %}
List Items Page
{% endblock %}

{% block head %}
<link rel ="stylesheet" href="{% static 'items.css' %}">
{% endblock %}

{% block navbar %}
<div class="navbar-title">ToDo List</div>
<div class="navbar-phrase-create_list">
    Items For: {{list.name}}
</div>
{% endblock %}

<!-- Content Section-->
{% block left-side-content %}
<form method="get" action="/lists/">
    {% csrf_token %}
    <button type="submit" class = "btn2">
        Return 
    </button>
</form>
{% endblock %}

{% block middle-side-content %}    
    <form method="post" action="/list/{{list.name}}/item/create/">
        {% csrf_token %}
        {{form}}
        <button type="submit" class = "btn" style = "margin-left: 15px;">
            Create
        </button>
    </form>


    <table class = "itemstable" style="margin: 0 auto; width: 90%; height: 90%; margin-top: 40px;">
        <thead>
            <tr>
                <th>Name:</th>
                <th>Description:</th>
                <th>Completed:</th>
                <th>Action:</th>
            </tr>
        </thead>
        {% for item in list.item_set.all %}
            <tbody>
            <tr>
                <td>{{item.text}}</td>
                <td>{{item.description}}</td>
                <td>{{item.complete}}</td>              
                <td><form method="get" action="/list/{{list.name}}/{{item.text}}/delete/">
                    {% csrf_token %}
                    <button type="submit" class = "btn3"> Delete </button>
                </form></td>
            </tr>
            </tbody>
        {% endfor %}        
    </table>
    
    

{% endblock %}

{% block right-side-content %}
{% endblock %}