{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link charset="stylesheet" href="{% static 'main/lists.css' %}">
{% endblock %}

{% block title %}
ToDo Lists
{% endblock %}

{% block navbar %}
<div class="navbar-title">ToDo List</div>
<div class="navbar-phrase-create_list">
    Created ToDo Lists
</div>
{% endblock %}

{% block left-side-content %}
{% endblock %}

{% block middle-side-content %}    
    <ul>
        {% for list in lists %}
        <li>{{list.name}}
            <form method="get" action="/list/{{list.name}}">
                {% csrf_token %}
                <button type="submit" class = "btn">
                    List
                </button>
            </form>
            <form method="get" action="/list/{{list.name}}/delete">
                {% csrf_token %}
                <button type="submit" class = "btn2">
                    Delete
                </button>
            </form>            
        </li>        
    {% endfor %}
    </ul>
{% endblock %}

{% block right-side-content %}
{% endblock %}