{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lists.css' %}">
{% endblock %}

{% block title %}
ToDo Lists
{% endblock %}

{% block navbar %}
<div class="navbar-title">ToDo List</div>
<div class="navbar-phrase-create_list">
    Created ToDo Lists
</div>
{% endblock %}

{% block left-side-content %}
{% endblock %}

{% block middle-side-content %}    
    <table>
        {% for list in lists %}
        <tbody>
            <tr>
                <td class = "list_name">{{list.name}}</td>
                <td><form method="get" action="/list/{{list.name}}">
                    {% csrf_token %}
                    <button type="submit" class = "btn4">
                        List
                    </button>
                </form></td>
                <td><form method="get" action="/list/{{list.name}}/delete">
                    {% csrf_token %}
                    <button type="submit" class = "btn3">
                        Delete
                    </button>
                </form></td>   
            </tr>     
        </tbody>   
    {% endfor %}
    </table>
{% endblock %}

{% block right-side-content %}
{% endblock %}